<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".GameListActivity" />
        <activity android:name=".BoardActivity">
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar"
        </activity>
        <activity
            android:name=".TruthActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".DareActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".WildcardActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".MiniGameActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <service
            android:name=".RetrieveInfoFromDatabase"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>