<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/befriendylogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:noHistory="true" />
        <activity android:name=".GameListActivity" />
        <activity android:name=".GameActivity">
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar"</activity>

        <service
            android:name=".RetrieveInfoFromDatabase"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".RollDiceActivity"
            android:theme="@style/Theme.AppCompat.DialogWhenLarge" />
        <activity
            android:name=".NewGamePlayerSelectionActivity"
            android:noHistory="true" />
    </application>

</manifest>